body {
    background: #5277a8;
    text-align: center;
    font-family: 'Open Sans','sans-serif';
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

p{
    color: rgb(211, 219, 136);
    font-weight: 800;
}

#icon{
    width: 20%;
    min-width: 100px;
}

#task{
    width:60%;
    max-width: 400px;
    border:none;
    padding:5px;
    border-radius:5px;
    font-weight: 650;
}

#task:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(211, 219, 136);
    transition: 1.7s;
}

#add{
    border:none;
    padding:5px;
    color: gray;
    border-radius: 5px;
    font-weight: 650;
}

#add:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(211, 219, 136);
    transition: 0.5s;
}