*
{
    margin: 0;
    padding: 0;
}
/* how to prevent the outlines and the scrollbar ^^^^ vvvv*/
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/*Preventing people from srcolling past the limit*/
html,
body
{
    overflow: hidden;
}